<p>Home Page</p>

<div id="critical_summary">
  <h2>Low Stock Summary</h2>
  <table class="blueTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @low_stock.each do |item| %>
        <tr>
          <td><%=item.name%></td>
          <td class="<%=item.quantity_lvl%>"><%=item.quantity%></td>
          <td><a href="/inventory/<%=item.id%>/show">view</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
