<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>S2 - Simple Stock</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/structure.css">
  <link rel="stylesheet" href="/styles/table.css">
</head>
<body>
  <header><h1>S2 - Simple Stock</h1></header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="">Manufacturers</a></li>
    </ul>
  </nav>
  <main><%=yield%></main>
  <footer>&copy; 2018 - coded by <a href="mailto:mail@nimbus117.co.uk">nimbus117</a></footer>
</body>
</html>
