<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>S2 - Simple Stock</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/table.css">
  <link rel="stylesheet" href="/styles/highlight.css">
  <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
  <header class="main-header">
    <h1>S2 - Simple Stock</h1>
    <nav class="main-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/manufacturers">Manufacturers</a></li>
      </ul>
    </nav>
  </header>
  <main class="main-content"><%=yield%></main>
  <footer class="main-nav">&copy; 2018 <a href="http://nimbus117.co.uk" target="_blank">nimbus117</a></footer>
</body>
</html>
