<h2>New Manufacturer</h2>

<form action="/manufacturers/new" method="post">

  <label for="manufacturer-name">Name: </label>
    <input id="manufacturer-name" type="text" name="name" required>

  <label for="manufacturer-address">Address: </label>
    <input id="manufacturer-address" type="text" name="address" required>

  <label for="manufacturer-city">City: </label>
    <input id="manufacturer-city" type="text" name="city" required>

  <label for="manufacturer-post-code">Post Code: </label>
    <input id="manufacturer-post-code" type="text" name="post_code" required>

  <label for="manufacturer-phone">Phone Number: </label>
    <input id="manufacturer-phone" type="text" name="phone" required>

  <label for="manufacturer-notes">Notes: </label>
    <textarea id="manufacturer-notes" name="notes" rows="5"></textarea>

  <input class="btn" type="submit" value="Add manufacturer">
</form>
