header {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border: 2px solid #444444;
  padding: 10px;
}

h1, nav, ul, li {
  display: inline;
}

li > a {
  font-size: 1.7em;
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #444444;
}

li > a:hover {
  color: black;
}
