body {
  background-color: lightblue;
}
main {
  margin: 10px;
}

h1 {
  font-size: 1.7em;
  margin: 10px 0;
  margin: 10px 10px 10px 0;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

h3 {
  font-size: 1.3em;
  margin: 8px 0;
}

footer {
  text-align: center;
  margin: 20px 0;
}

dl > dt {
  font-weight: bold;
  text-decoration: underline;
}

dl > dd {
  margin: 5px 10px;
}

div.summary {
  display: inline-grid;
}

address {
  font-variant-caps: small-caps;
  margin-bottom: 10px;
}
