body {
  background-color: lightblue;
  margin: 10px;
}

main {
}

h1 {
  font-size: 1.7em;
  margin: 10px 0;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

h3 {
  font-size: 1.3em;
  margin: 8px 0;
}

footer {
  text-align: center;
  margin: 10px 0;
}

div.summary {
  display: inline-grid;
}
